<div class="snap-center w-screen h-screen max-h-screen ease-in-out mb-5 text-white p-5 flex flex-col items-start justify-center">
    <h1 class="text-xl md:text-3xl">📚 Education</h1>
    <div class="flex flex-col items-start justify-center pl-8 mt-2 w-full md:mt-6 md:mb-3 p-2">
        <h1 class=" text-lg md:text-2xl">👨🏻‍🎓 Bachelor's in Technology</h1>
        <h2 class=" text-xs md:text-sm">Computer Science & Engineering 🖥</h2>
        <h2 class=" text-xs md:text-sm">Vellore Institute of Technology, Chennai Campus</h2>
        <h3 class=" text-[10px] md:text-xs">2019-2023</h3>
    </div>
    <div class="flex flex-col items-start justify-center pl-8 w-full mt-3 md:my-3 p-2">
        <h1 class=" text-lg md:text-2xl">👨🏻‍🏫 Grade XII</h1>
        <h2 class="text-xs md:text-sm">STEM 🧪</h2>
        <h2 class="text-xs md:text-sm">Nath Valley School, Aurangabad</h2>
        <h3 class="text-[10px] md:text-xs">2017-2019</h3>
    </div>
    <div class="flex flex-col items-start justify-center pl-8 w-full mt-3 md:my-3 p-2">
        <h1 class="text-lg md:text-2xl">🎒 Grade X</h1>
        <h2 class="text-xs md:text-sm">High School 🏫</h2>
        <h2 class="text-xs md:text-sm">The PSBB Millennium School, Coimbatore</h2>
        <h3 class="text-[10px] md:text-xs">2012-2017</h3>
    </div>
    <h1 class="text-xl md:text-3xl md:mt-0 mt-8">🏆 Achievements</h1>
    <div class="flex flex-col items-start justify-between ml-0 m-2 h-36 w-full">
        <div class="flex items-center justify-between pl-8 w-full h-full my-3 p-2">
            <img src="../../assets/svg/Mercury 1.svg" class="w-1/3 md:w-auto" alt="">
            <h2 class="text-xs md:text-sm">Winner - CrazyNFT</h2>
        </div>
        <div class="flex items-center justify-between pl-8 w-full h-full my-3 p-2">
            <img src="../../assets/svg/vision-1.svg"  class="w-1/3 md:w-auto" alt="">
            <h2 class="text-xs md:text-sm">Runner Up - CrazyNFT</h2>
        </div>
    </div>
</div>