<div class="snap-center">
    <div class="w-screen h-screen max-h-screen text-white flex flex-col items-center justify-between ">
        <div class="h-[240px] w-full">
            <img src="assets/svg/top-section-blockchain-middle.svg" class="my-2 origin-top-left scale-[2]" alt="">
        </div>
        <div class="h-auto z-10 w-full bg-PrimaryBlue py-5 px-4 flex flex-col items-center justify-between ">
            <h1 class="text-lg mb-5">Possessing...</h1>
            <div class="flex items-center w-full justify-between">
                <div class="flex flex-col items-center justify-center">
                    <h1 class="text-8xl">{{prog_age}}+</h1>
                    <h1 class="text-[14px] text-center md:text-6xl ">Years of <br>🧑🏻‍💻 Programming Experience</h1>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <h1 class="text-8xl">{{prof_age}}+</h1>
                    <h1 class="text-[14px] text-center md:text-6xl ">Years of <br>👨🏻‍💼 Professional Experience</h1>
                </div>
            </div>
        </div>
        <img src="assets/svg/bottom-section-blockchain-middle.svg" class="origin-top-left" alt="">
    </div>



    <!-- <div class="w-screen h-screen max-h-screen text-white flex flex-col items-center justify-between">
        <img src="assets/svg/top-section-blockchain.svg" class=" origin-top-left scale-[2.15]" alt="">
        <h1 class="text-3xl md:text-6xl ">I'm a full stack Web3 Dev 🔗</h1>
        <img src="assets/svg/bottom-section-blockchain.svg" class="origin-top-left" alt="">
    </div> -->
</div>