<div class="snap-center">
    <div class="w-screen h-screen max-h-screen md:hidden text-white flex flex-col items-center justify-between ">
        <div class="h-[240px] w-full">
            <img src="assets/svg/top-section-blockchain-middle.svg" class="my-2 origin-top-left scale-[2]" alt="">
        </div>
        <div class="h-auto z-10 w-full bg-PrimaryBlue py-5 px-4 flex flex-col items-center justify-between ">
            <h1 class="text-lg mb-5">Possessing...</h1>
            <div class="flex items-center w-full justify-between">
                <div class="flex flex-col items-center justify-center">
                    <h1 class="text-8xl">{{prog_age}}+</h1>
                    <h1 class="text-[14px] text-center md:text-6xl ">Years of <br>🧑🏻‍💻 Programming Experience</h1>
                </div>
                <div class="flex flex-col items-center justify-center">
                    <h1 class="text-8xl">{{prof_age}}+</h1>
                    <h1 class="text-[14px] text-center md:text-6xl ">Years of <br>👨🏻‍💼 Professional Experience</h1>
                </div>
            </div>
        </div>
        <img src="assets/svg/bottom-section-blockchain-middle.svg" class="origin-top-left " alt="">
    </div>
    <div class="hidden md:w-screen md:h-screen md:max-h-screen md:flex md:flex-col md:justify-start md:items-start md:my-2">
        <img src="../../assets/svg/md-top-chain.svg" class="w-max origin-top-left" srcset="">
        <div class="h-36 z-10 lg:w-[60%] md:w-[65%] bg-PrimaryBlue text-white relative md:-translate-y-[125%] lg:-translate-y-[155%] py-5 ml-10 flex flex-col items-start justify-between ">
            <h1 class="text-lg mb-5">Possessing...</h1>
            <div class="flex items-start w-full justify-between">
                <div class="flex flex-col items-start justify-center">
                    <h1 class="text-8xl">{{prog_age}}+</h1>
                    <h1 class="text-[14px] text-left md:text-2xl ">Years of <br>🧑🏻‍💻 Programming Experience</h1>
                </div>
                <div class="flex flex-col items-start justify-center">
                    <h1 class="text-8xl">{{prof_age}}+</h1>
                    <h1 class="text-[14px] text-left md:text-2xl ">Years of <br>👨🏻‍💼 Professional Experience</h1>
                </div>
            </div>
        </div>
        <div class="ml-10 lg:w-[60%] md:w-[65%] pt-4 relative -translate-y-8 lg:-translate-y-16 origin-bottom-left">
            <div class="text-white flex flex-col items-start justify-center w-full mb-10">
                <h1 class="text-3xl">And usually found cheating on one stack with another</h1>
                <br>
                <div class="flex items-start justify-between pr-2 w-full">
                    <div class="text-left">
                        <h2 class="text-[18px] md:text-md lg:text-lg"><b>SEAN</b> is my choice for now 😝</h2>
                        <ul class="text-[14px] md:text-md lg:text-lg">
                            <li>S: Solidity ⭐️⭐️⭐️⭐️</li>
                            <li>E: Ethers ⭐️⭐️⭐️</li>
                            <li>A: Angular ⭐️⭐️</li>
                            <li>N: Node ⭐️⭐️</li>
                            <br>
                        </ul>
                    </div>
                    <div class="text-[14px] text-right md:text-md lg:text-lg">Also work with: <br> Python (⭐️⭐️⭐️⭐️) ||
                        Git (⭐️⭐️⭐️⭐️) <br> C/C++ (⭐️⭐️⭐️) || ReactJS (⭐️⭐️)<br>Go (⭐️) || Java(⭐️) || Flutter(⭐️) ||
                        Vue(⭐️)
                    </div>
                </div>

            </div>
        </div>


        <!-- <div class="w-screen h-screen max-h-screen text-white flex flex-col items-center justify-between">
        <img src="assets/svg/top-section-blockchain.svg" class=" origin-top-left scale-[2.15]" alt="">
        <h1 class="text-3xl md:text-6xl ">I'm a full stack Web3 Dev 🔗</h1>
        <img src="assets/svg/bottom-section-blockchain.svg" class="origin-top-left" alt="">
    </div> -->
    </div>