<div class="snap-center relative">
    <div class="w-screen h-screen max-h-screen text-white flex flex-col items-start justify-center pl-2">
        <h1 class="text-9xl md:text-[160px] lg:text-[200px] align-text-bottom">Hi!</h1>
        <h1 class="text-3xl md:text-4xl lg:text-5xl md:mt-4 mb-1 pl-2">I'm Shaan,</h1>
        <h1 class="text-md md:text-xl lg:text-2xl md:mt-2 md:mb-20 mb-1 pl-2">A {{age}} year old Web3 developer 🧑🏻‍💻</h1>
        <img src="assets/svg/Right-Arrow-No-Fill.svg" class="pl-2 pt-10 hidden" alt="">
    </div>
    <h2 class=" absolute bottom-14 left-auto text-center w-screen text-gray-300">
        <div class="w-full flex items-center justify-center">
            <img src="assets/svg/Right-swipe.svg" class="text-center md:hidden" alt="">
        </div>
        <div class="w-full flex items-center justify-center">
            <img src="assets/svg/Quote.svg" class="text-center hidden md:block" alt="">
        </div>
    </h2>
</div>