<div class="snap-center relative">
    <div class="w-screen h-screen max-h-screen text-white flex flex-col items-start justify-center pl-2">
        <h1 class="text-9xl align-text-bottom">Hi!</h1>
        <h1 class="text-3xl mb-1 pl-2">I'm Shaan,</h1>
        <h1 class="text-md mb-1 pl-2">A {{age}} year old Web3 developer 🧑🏻‍💻</h1>
        <img src="assets/svg/Right-Arrow-No-Fill.svg" class="pl-2 pt-10 hidden" alt="">
    </div>
    <h2 class=" absolute bottom-14 left-auto text-center w-screen text-gray-300">
        <div class="w-full flex items-center justify-center">
            <img src="assets/svg/Right-swipe.svg" class="text-center lg:hidden" alt="">
        </div>
    </h2>
</div>