<div class="snap-center md:hidden w-screen h-screen max-h-screen text-white flex flex-col items-center justify-end">
    <div class="text-xl md:text-2xl lg:text-3xl m-4">
        Usually found cheating on one stack with another
        <br><br>
        <h2 class="text-[18px] md:text-md lg:text-lg"><b>SEAN</b> is my choice for now 😝</h2>
        <ul class="text-[14px] md:text-md lg:text-lg">
            <li>S: Solidity ⭐️⭐️⭐️⭐️</li>
            <li>E: Ethers ⭐️⭐️⭐️</li>
            <li>A: Angular ⭐️⭐️</li>
            <li>N: Node ⭐️⭐️</li>
            <br>
            <li>Also work with: <br> Python (⭐️⭐️⭐️⭐️) || Git (⭐️⭐️⭐️⭐️) || C/C++ (⭐️⭐️⭐️) || ReactJS (⭐️⭐️) || <br>Go
                (⭐️) || Java(⭐️) || Flutter(⭐️) || Vue(⭐️)</li>
        </ul>
    </div>
</div>