/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: RGB(14, 109, 252);
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.superclass{
    position: relative;
    width: 100%;
    height: auto;
    /* overflow-x: scroll; */
    /* overflow-y: hidden; */
}